## Importamos **Pandas**

In [1]:
import pandas as pd

## Panda Series para **vectores(un unico elemento)**

In [2]:
psg_players = pd.Series(['Navas', 'Neymar', 'Messi','Mbappe'], 
          index=[1, 7, 10, 30]
          )

In [3]:
psg_players

1      Navas
7     Neymar
10     Messi
30    Mbappe
dtype: object

## Sin definir los indices

- Crea una lista con **indices**  por **defecto**

In [4]:
pd.Series(['Navas', 'Neymar', 'Messi','Mbappe']
          )

0     Navas
1    Neymar
2     Messi
3    Mbappe
dtype: object

## Otra manera de definir un **Pandas Series**

In [5]:
my_dict = {1:'Navas', 7:'Mbappe', 10:'Neymar', 30:'Messi'}

In [6]:
my_dict

{1: 'Navas', 7: 'Mbappe', 10: 'Neymar', 30: 'Messi'}

In [7]:
pd.Series(my_dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

## index

In [8]:
psg_players[:]

1      Navas
7     Neymar
10     Messi
30    Mbappe
dtype: object

## **DataFrames** con **Pandas**

In [11]:
dict = {
    
    'Jugador': ['Navas', 'Mbappe', 'Neymar', 'Messi'],
    
    'Altura': [183.0, 180.0, 170.0, 165.0 ],
    
    'Goles': [2, 200, 400, 705]
 
}

In [12]:
df_players = pd.DataFrame(dict, index=[1, 7, 10, 30])
df_players

   Jugador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   180.0    200
10  Neymar   170.0    400
30   Messi   165.0    705

In [ ]:
pd.DataFrame(dict)

  Jugador  Altura  Goles
0   Navas   183.0      2
1  Mbappe   180.0    200
2  Neymar   170.0    400
3   Messi   165.0    705

## Visualizando **columnas** y **filas**

In [ ]:
df_players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [14]:
df_players.Altura

1     183.0
7     180.0
10    170.0
30    165.0
Name: Altura, dtype: float64

In [17]:
df_players.index

Int64Index([3, 5, 8, 3], dtype='int64')

In [18]:
df_players

  Jugador  Altura  Goles
3   Navas   183.0      2
5  Mbappe   180.0    200
8  Neymar   170.0    400
3   Messi   165.0    705

In [ ]:
pd.DataFrame(dict)

  Jugador  Altura  Goles
0   Navas   183.0      2
1  Mbappe   180.0    200
2  Neymar   170.0    400
3   Messi   165.0    705