In [4]:
import creacion_de_Dict
import pandas as pd
import numpy as np

## Join - **index** match

In [2]:
izq = pd.DataFrame(
    {'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],},
    
    index=['k0', 'k1', 'k2', 'k3'] )

In [9]:
der = pd.DataFrame(
    {'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3'],},
    
    index=['k1', 'k2', 'k3', 'k4'] )

In [14]:
izq.join(der, how="outer")
izq.join(other= der, )

      A    B    C    D
k0   A0   B0  NaN  NaN
k1   A1   B1   C0   D0
k2   A2   B2   C1   D1
k3   A3   B3   C2   D2
k4  NaN  NaN   C3   D3

In [23]:
der.merge(izq, left_index=True, right_index=True)

     C   D   A   B
k1  C0  D0  A1  B1
k2  C1  D1  A2  B2
k3  C2  D2  A3  B3