In [1]:
import pandas as pd
import numpy as np

## Apply

- Aplica **funciones** a nuestro data frame

In [58]:
df_books = pd.read_csv(r'./Dates/bestsellers-with-categories.csv', sep=',')

13

In [4]:
def two_times(value):
    return value *2

In [6]:
df_books['User Rating'].apply(two_times)

In [ ]:
df_books['Rating 2'] = df_books['User Rating'].apply(two_times)

In [7]:
df_books

,Name,Author,User Rating,Reviews,Price,Year,Genre,Rating 2
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,9.4
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,9.2
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,9.4
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,9.4
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,9.6
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,9.8
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,9.4
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,9.4
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,9.4
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,9.4

- Con **funciones** **Lambda**

In [10]:
df_books['Rating 2'].apply(lambda x : x ** 2,  )

In [11]:
df_books.head(3)

,Name,Author,User Rating,Reviews,Price,Year,Genre,Rating 2
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,9.4
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,9.2
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,9.4

## Algo m√°s interesante üå∂Ô∏è

In [14]:
df_books['Rating 2'] = df_books.apply(lambda x : x['User Rating'] * 2  if x['Genre'] == 'Fiction' else x['User Rating'], axis=1 )

In [54]:
np.array([[7, 8],[2, 1],[2, 4]])

array([[7, 8],
       [2, 1],
       [2, 4]])

In [20]:
df_books["Rating 2"].map(two_times)

0       9.4
1      18.4
2       9.4
3      18.8
4       9.6
       ...
545    19.6
546     9.4
547     9.4
548     9.4
549     9.4
Name: Rating 2, Length: 550, dtype: float64

In [30]:
%timeit df_books["Ranting 2"] =[two_times(i) for i in df_books["Rating 2"]]

544 ¬µs ¬± 93.2 ¬µs per loop (mean ¬± std. dev. of 7 runs, 1,000 loops each)

In [28]:
df_books["Rating 2"].transform(two_times)

0      18.8
1      36.8
2      18.8
3      37.6
4      19.2
       ...
545    39.2
546    18.8
547    18.8
548    18.8
549    18.8
Name: Rating 2, Length: 550, dtype: float64

In [19]:
 %timeit df_books.loc[:, ["Rating 2", "Genre"]]

1.27 ms ¬± 152 ¬µs per loop (mean ¬± std. dev. of 7 runs, 1,000 loops each)

## üòõ Algo a√∫n m√°s interesante

In [31]:
%%capture df_books.apply()

UsageError: %%capture is a cell magic, but the cell body is empty.